.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
