li {
  display: block;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}

span {
  font-weight: 900;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

input {
  background-color: white;
}
